body {
  background-color: lightblue;
}

h1 {
text-align:center;
font-family:Arial;
font-size:20px;
font-style:italic;
font-weight:bold;

  color: red;
  margin-left: 20px;
}

.par
{
	 background-color: grey;
	 display:inline-block;
}
#font1
{
	color:red;
	
}
.margin{
	margin:30px 20px;
	border:2px solid;
	padding:5px;
	float:right;
	
}

.box
{
	display:inline-block;
	
}

#2
{
	background-color:green;
	
}
